#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#monitor{
    border: 2px solid red;
    width: 400px;
    padding: 0px;
}

textarea{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -4px;
}

#allButtons{
    display: flex;
    margin:20px;
    flex-basis: 90px;
    flex-wrap: wrap;
    width: 550px;
    justify-content: center;
    flex-grow: 1;
}

#numericButtons,
#operateButtons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px
}

#operateButtons{
    margin-left: 30px;
}

#equalClearButtons{
    flex-grow: 1;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}


button{
    flex-basis: 100px;
    height: 50px;
    flex-wrap: wrap;
}